.imgDiv {
  display: flex;
  flex-direction: column;
}

.image {
  opacity: 1;
  width: 62px;
  height: 62px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  clip-path: polygon(50% 0%, 96% 25%, 96% 75%, 50% 100%, 4% 75%, 4% 25%);
}
.text {
  opacity: 1;
  color: white;
  font-size: 16px;
}

.selected {
  opacity: 0.3;
}

.imgDiv:hover .image {
  opacity: 0.3;
}
/* 
.imgDiv:hover .text {
  opacity: 1;
} */

.originContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.champSelectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.selectionContainer {
  display: flex;
  flex-direction: row;
}
.championSelect {
  display: flex;
  flex-direction: row;
}
.selection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  border-radius: 5px 0 5px 5px;
  background-color: rgba(21, 44, 53, 0.5);
}
.originContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 600px;
}

.shownChamps {
  background-color: rgba(21, 44, 53, 0.5);
  border-radius: 0 30px 30px 0;
  height: 300px;
  width: 200px;
}

.innerShownChamps {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 6px;
  flex-wrap: wrap;
}

.title {
  font-size: 32px;
  font-weight: 500;
}
