.allChampContainer {
}

.championCard {
  height: 48px;
  width: 1012px;
  margin-bottom: 6px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.championCard div {
  align-self: center;
}
.name {
  flex: 1;
  display: flex;
}

.classes {
  flex: 2;
}

.cost {
  flex: 1;
}

.health {
  flex: 1;
}

.armor {
  flex: 1;
}

.attackspeed {
  flex: 1;
}
