.contentHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(11, 26, 33, 0.9);
  flex-direction: row;
  padding: 6px;
}

.spanname:hover,
.spancost:hover,
.spanhealth:hover,
.spanclass:hover,
.spanorigin:hover {
  cursor: pointer;
}

/*Flex size is taken from champion style.css*/
