.contentHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1012px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(11, 26, 33);
  flex-direction: row;
  padding: 6px;
  font-size: 18px;
  z-index: +1;
}

.spanname:hover,
.spancost:hover,
.spanhealth:hover,
.spanclass:hover,
.spanorigin:hover {
  cursor: pointer;
}

/*Flex size is taken from champion style.css*/
