.allItemContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}

.itemCard {
  width: 410px;
  height: 445px;
  margin: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(13, 43, 70);
}
.itemHeader {
  display: flex;
  padding: 3px;
  border-radius: 4px 4px 0 0;
}
.itemHeader img {
  height: 42px;
}
.itemHeader div {
  align-self: center;
}

.comboContainer {
  padding: 6px;
  display: flex;
}

.highlight {
  background-color: rgb(11, 26, 33);
}
.rounded {
  border-radius: 0 0 4px 4px;
}

img {
  height: 24px;
}
