.navbar {
  position: fixed;
  top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbarButtons {
  display: flex;
}

.headerButton {
  background-image: linear-gradient(to right, #006175 0%, #2f478a 100%);
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  height: 45px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 130px;
  z-index: 2;
  margin-left: 12px;
}
.headerButton:hover span {
  background: transparent;
}
.buttonSpan {
  align-items: center;
  background: #2c2c2c;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}
.headerButton:hover {
  cursor: pointer;
  background-color: #367086;
}

.highlighted {
  background: transparent;
}
