.champSprite {
  height: 48px;
  width: 48px;
  clip-path: polygon(50% 0%, 96% 25%, 96% 75%, 50% 100%, 4% 75%, 4% 25%);
}
.titleDiv {
  text-align: center;
  width: fit-content;
}

.teamContainer {
}

.teamAndSynergies {
  display: flex;
  flex-direction: row;
  background-color: rgba(1, 1, 26, 0.5);
}

.myTeamTitle {
  font-size: 48px;
}

.myTeam {
  flex: 2;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.myTeamChamp {
  margin: 6px;
  width: fit-content;
}

.mySynergies {
  flex: 3;
}
