.champSprite {
  height: 48px;
  width: 48px;
  clip-path: polygon(50% 0%, 96% 25%, 96% 75%, 50% 100%, 4% 75%, 4% 25%);
}
.titleDiv {
  text-align: center;
  width: fit-content;
}

.teamContainer {
  background-color: rgba(21, 11, 31, 0.8);
  padding: 6px;
  border-radius: 5px;
}

.teamAndSynergies {
  display: flex;
  width: 300px;
  height: 610px;
  flex-direction: column;
}

.myTeamTitle {
  font-size: 48px;
}

.myTeam {
  flex: 2;
  height: 175px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.myTeamChamp {
  margin: 6px;
  width: fit-content;
}

.mySynergies {
}
