.height100 {
  height: fit-content;
}

.fullContainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.displayChampContainer {
  position: relative;
  height: 850px;
  width: fit-content;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 26, 0.5);
  border-radius: 5px;
  overflow-y: scroll;
}
.displayChampContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

.displayChampContainer::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.displayChampContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, #2f478a),
    color-stop(0.52, #006175),
    color-stop(0.86, #2f478a)
  );
}

.displayItemContainer {
  height: fit-content;
  width: 95%;
  margin: 50px 12px 0 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.champContainer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  height: fit-content;
}
.infoSpan {
  width: 350px;
}

.highlightedText {
  font-weight: bolder;
  background-color: rgba(13, 43, 70, 0.5);
  color: rgb(6, 32, 54);
  padding: 2px;
}
