.height100 {
  height: fit-content;
}

.fullContainer {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.displayChampContainer {
  height: fit-content;
  width: fit-content;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 26, 0.5);
  border-radius: 5px;
}

.displayItemContainer {
  height: fit-content;
  width: 95%;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 26, 0.5);
  border-radius: 5px;
}

.flexIt {
  display: flex;
}
.infoSpan {
  width: 350px;
}
